.active {
   color: #1c74be;
}



/*======VANSOL===========*/

.link {
   border: 1px solid #FFFFFF;
   padding: 10px 21px 10px 21px;
   color: #FFFFFF;
}

@media screen and (max-width: 1000px){
   .link{
      border: 0px;
      margin-left: -20px;
   }
}

.login-nav{
   padding: 5px 3px 5px 3px;
   border: 1px solid silver;
   position: relative;
   color: #FFFFFF;
}

.row-company{
   margin: 0;
}


.login-nav:hover{
   background: #FFFFFF;
   color: #000000;
}

.slider_subtitle{
   font-size: 25px;
}


#pricing{
   text-align: center;
}


/*.pricebox{*/
   /*padding-top: 10px;*/
   /*background: #1c74be;*/
   /*height: 300px;*/
   /*padding-top: 60px;*/
   /*text-align: center;*/
   /*border: 5px solid white;*/
   /*border-radius: 15px;*/
   /*margin: 40px;*/
/*}*/

.our-packages{
   font-size: 20pt;
}

.row-package{
   margin: 0;
}

.package{

   font-size: 15pt;
   font-weight: bold;
}

.price{
   color: yellow;
   font-size: 20pt;
   font-weight: bold;
}

.text-black{
   color:#000000;
}

.usd{
   color: red;
   font-weight: bold;
}



.heading-pricing-table{
   font-size: 15pt;
}

.gold{
   color: gold;
}

.silver{
   color: silver;
}

.bronze{
   color: brown;
}




/*======Login/Sign Up=========*/

.back{
   position: absolute;
   color: black;
   z-index: 100;
   padding-left:40px;
   padding-top: 30px;

}


.arrowleft{
   color: #ffffff;
   font-size: 14pt;
   padding-right: 20px;
}

.home:hover{
   color: red;
}


.value-sub{
   position: absolute;
   top: 40px;
   left: 70px;
}

.form-wrapper
{
   padding-top: 75pt;
   background-color:  #1c74be;
   height: 653px;
   text-align: center;
}
.form-div
{
   margin: auto;
   width: 360px;
   height: 370px;
   background-color: #ffffff;
   border-radius: 7px;
   border: 2px solid #ffffff;
}

.form-body{
   text-align: center;
   padding: 20px;
}

.bdmax-btn{
   padding: 10px 21px 10px 21px;
   border: 1px solid #1c74be;
   color: #ffffff;
}


.bdmax-btn:hover{
   background: #ffffff;
}

.login-with-google, .forget-password{
   color: #ffffff;
   text-decoration: underline;
}

.login-with-google:hover, .forget-password:hover{
   color: #ffffff;
   color: black;
}



/*signup form*/
.fw-signup{
   padding-top: 40px;
   height: 700px;
}

.fb-signup{
   height: 500px;
}

.fd-signup{
   height: 480px;
}

.blue{
   color: #1c74be;
}

/*Price*/

.price-div{
   padding-top: 60px;
   height: 654px;
}

.price-div{
   margin: auto;
   width: 100px;
   height: 100px;
   background-color: #ccc;
   border-radius: 3px;
}

#slider5{
    opacity: 0.9;
}

#mixer{
    width: 140px;
    height: 200px;
}

.button.border {
    background-color: transparent;
    color: inherit;
}

input.cm-btn:hover {
   font-size: larger;
}


