

.screen-div{
    height: 450px;
    background-repeat: no-repeat;
}

.screens-container{
    text-align: center;
}

#friendly-on{
    font-size: 30pt;
    color: #1c74be;
    margin-bottom: 40px;
}

.screens{
    height: 740px;
    width: 800px;
    position: absolute;
    top: -120px;
    right: -15px;
}

@media screen and (max-width: 500px) {
    .screens{
        width: 700px;
        height: 400px;
        position: absolute;
        top: -60px;
        left: 3px;

    }

    .screens-section{
        height: 300px;
    }
}
