#preloader {
   background-color: #ffd200;
   bottom: 0;
   height: 100%;
   left: 0;
   overflow: hidden !important;
   position: fixed;
   right: 0;
   top: 0;
   width: 100%;
   z-index: 99999;
   text-align: center;
}

.clear-loading {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -152px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   display: inline-block;
   text-align: center;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
}


/*Loading Effect */

.loading-effect {
   width: 305px;
   height: 100px;
}

.loading-effect span {
   float: left;
   margin-top: 28px;
}

@media screen and (max-width:767px) {
   .clear-loading {
      margin-left: -50px;
   }
   .loading-effect {
      width: 100px;
      height: 100px;
   }
   .loading-effect span {
      display: none;
   }
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
   display: none;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
   cursor: url("") 25 25, pointer;
}


/*---------------------------------------------------------------------
  Header
---------------------------------------------------------------------*/

#header {
   position: absolute;
   width: 100%;
   z-index: 99;
}

#header.defualt {
   background: transparent;
   z-index: 999;
   padding: 0px;
   margin: 0px;
   position: absolute;
   width: 100%;
}


/*topbar*/

.topbar {
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   padding: 10px 0px;
}

.topbar li,
.topbar li a {
   color: #ffffff;
}

.topbar-left li i {
   padding-right: 5px;
   color: #ffd200;
}

.topbar-right .list-inline li:last-child,
.topbar-right li:last-child i {
   padding-right: 0px;
}

.topbar .topbar-right li a:hover {
   color: #ffd200;
}

.topbar-right li i {
   padding-right: 5px;
   color: #ffd200;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
}

.topbar-right li i:hover {
   color: #ffffff !important;
}

#header.dark-fancy .menu-icon-right li i:hover {
   color: #ffffff;
}


/*mega-menu*/

.mega-menu .menu-logo {
   padding: 30px 0px;
}

.mega-menu .menu-logo img {
   height: 40px;
}

.mega-menu .menu-links > li > a {
   line-height: 100px;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 500;
}

.mega-menu .drop-down-multilevel.right-menu {
   right: 0px;
}

.mega-menu .menu-links > li:first-child {
   padding-left: 0px;
}

.mega-menu .menu-links > li:last-child {
   padding-right: 0px;
}

.mega-menu .menu-links > li.active .drop-down-multilevel a {
   color: #ffffff;
}

.mega-menu .menu-links > li.active .drop-down-multilevel a:hover {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down a {
   color: #fff;
}

.mega-menu .menu-links > li.active .drop-down li.active a {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down a:hover {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down li.active a i {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down a i:hover {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active a {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li a {
   color: #ffffff;
   background: transparent;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li a {
   color: #323232;
   background: transparent;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li a .drop-down-multilevel li a:hover {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a {
   color: #ffd200;
   background: #eceff7;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active i {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active i {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li a i {
   color: #323232;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active:hover .drop-down-multilevel li a:hover i {
   color: #ffd200;
}

.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover {
   color: #ffd200;
}

.mega-menu .row {
   margin-left: 0px;
   margin-right: 0px;
}

.mega-menu .col-md-12 {
   padding-left: 0px;
   padding-right: 0px;
}

.mega-menu.desktopTopFixed .menu-list-items {
   background: rgba(21, 21, 21, 0.9);
   padding: 0px;
}

.mega-menu.desktopTopFixed .menu-logo {
   padding: 16px 0px;
}


/*------------------------------------
 Header White
-------------------------------------*/

#header.clean {
   background: #ffffff;
   z-index: 999;
   padding: 0px;
   margin: 0px;
   position: relative;
   width: 100%;
   -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

#header.clean .topbar {
   border-bottom: 0;
   background: #ffd200;
   padding: 7px 0px;
}

#header.clean .topbar-left li i,
#header.clean .topbar-right li i {
   color: #ffd200;
}

#header.clean .mega-menu .menu-links > li > a {
   color: #222222;
}

#header.clean .mega-menu .menu-links > li.active > a {
   color: #ffd200;
}

#header.clean .mega-menu.desktopTopFixed .menu-list-items {
   background: #ffffff;
   -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
   -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
   box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}

#header .topbar.dark {
   background: #353535;
}


/*------------------------------------
  Header Dark
-------------------------------------*/

#header.dark {
   background: rgba(21, 21, 21, 0.9);
   -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
   position: relative;
}

#header.dark .topbar {
   border-bottom: 0;
   background: #ffd200;
   padding: 7px 0px;
}

#header.dark .topbar-left li,
#header.dark .topbar-left li a,
#header.dark .topbar-left li i,
#header.dark .topbar-right li,
#header.dark .topbar-right li a,
#header.dark .topbar-right li i {
   color: #353535;
}


/*-----------------------------------
  Header Fancy
------------------------------------*/

#header.fancy {
   background: transparent;
   position: relative;
}

#header.fancy .topbar {
   background: #ffd200;
   border-bottom: none;
   padding: 7px 0px 57px;
}

#header.fancy .topbar .topbar-right li a:hover {
   color: #323232;
}

#header.fancy .topbar-left li,
#header.fancy .topbar-left li a,
#header.fancy .topbar-left li i,
#header.fancy .topbar-right li,
#header.fancy .topbar-right li a,
#header.fancy .topbar-right li i {
   color: #353535;
}

#header.fancy .menu {
   position: absolute;
   width: 100%;
   top: 54px;
}

#header.fancy .mega-menu > section.menu-list-items {
   background: #ffffff;
   padding: 0px 25px;
   -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#header.fancy .mega-menu .menu-links > li > a {
   color: #222222;
}

#header.fancy .mega-menu .menu-links > li.active > a {
   color: #ffd200;
}


/*-----------------------------------
  Header Dark-Fancy
------------------------------------*/

#header.dark-fancy {
   background: transparent;
   position: relative;
}

#header.dark-fancy .topbar {
   background: #111111;
   border-bottom: none;
   padding: 30px 0px 60px;
}

#header.dark-fancy .topbar .topbar-right li a:hover {
   color: #323232;
}

#header.dark-fancy .topbar-right li i {
   color: #ffd200;
   font-size: 26px;
   margin-right: 2px;
}

#header.dark-fancy .menu {
   position: absolute;
   width: 100%;
   top: 105px;
}

#header.dark-fancy .mega-menu > section.menu-list-items {
   background: #ffd200;
   padding: 0px 25px;
   -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#header.dark-fancy .mega-menu .menu-links > li > a {
   color: #222222;
   line-height: 70px;
}

#header.dark-fancy .mega-menu .menu-links > li.active > a {
   color: #fff;
}

#header.dark-fancy .mega-menu .menu-links {
   float: left;
}

#header.dark-fancy .menu-icon-right {
   float: right;
   margin-top: 23px;
}

#header.dark-fancy .menu-icon-right li {
   margin: 0 2px;
}

#header.dark-fancy .menu-icon-right li i {
   color: #353535;
}


/*--------------------------------------------------------------------
	    	Banner Section
---------------------------------------------------------------------*/

.rev-slider {
   position: relative;
}

#video-background {
   width: 100%;
   height: 100vh;
   z-index: -1;
}

.slider-text {
   width: 100%;
   position: absolute;
   top: 55%;
   left: 0;
   z-index: 99;
   color: #ffffff;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   transform: translateY(-50%);
}

.slider-text h1 {
   font-size: 60px;
   font-weight: 700;
   line-height: 66px;
   margin-bottom: 10px;
}

.slider-text .title {
   margin-bottom: 15px;
}

.slider-text p {
   font-size: 15px;
   line-height: 26px;
}

.slider-text .button {
   margin-bottom: 0;
}

.tp-caption.button.animated.middle-fill:hover {
   color: #000000 !important;
}

.rev_slider_wrapper [class*='bg-overlay-']:before {
   z-index: 1;
}


/*index 1*/

#rev_slider_2_1_wrapper .tp-loader.spinner2 {
   background-color: #FFFFFF !important;
}

#rev_slider_2_1 .uranus.tparrows {
   width: 50px;
   height: 50px;
   background: rgba(255, 255, 255, 0)
}

#rev_slider_2_1 .uranus.tparrows:before {
   width: 50px;
   height: 50px;
   line-height: 50px;
   font-size: 40px;
   transition: all 0.3s;
   -webkit-transition: all 0.3s
}

#rev_slider_2_1 .uranus.tparrows:hover:before {
   opacity: 0.75
}


/*index 2*/

.hermes.tparrows {
   cursor: pointer;
   background: rgba(0, 0, 0, 0.5);
   width: 30px;
   height: 110px;
   position: absolute;
   display: block;
   z-index: 100
}

.hermes.tparrows:before {
   font-family: "revicons";
   font-size: 15px;
   color: rgb(255, 255, 255);
   display: block;
   line-height: 110px;
   text-align: center;
   transform: translatex(0px);
   -webkit-transform: translatex(0px);
   transition: all 0.3s;
   -webkit-transition: all 0.3s
}

.hermes.tparrows.tp-leftarrow:before {
   content: "\e824"
}

.hermes.tparrows.tp-rightarrow:before {
   content: "\e825"
}

.hermes.tparrows.tp-leftarrow:hover:before {
   transform: translatex(-20px);
   -webkit-transform: translatex(-20px);
   opacity: 0
}

.hermes.tparrows.tp-rightarrow:hover:before {
   transform: translatex(20px);
   -webkit-transform: translatex(20px);
   opacity: 0
}

.text-black{
   color:#000000;
}

.hermes .tp-arr-allwrapper {
   overflow: hidden;
   position: absolute;
   width: 180px;
   height: 140px;
   top: 0px;
   left: 0px;
   visibility: hidden;
   -webkit-transition: -webkit-transform 0.3s 0.3s;
   transition: transform 0.3s 0.3s;
   -webkit-perspective: 1000px;
   perspective: 1000px
}

.hermes.tp-rightarrow .tp-arr-allwrapper {
   right: 0px;
   left: auto
}

.hermes.tparrows:hover .tp-arr-allwrapper {
   visibility: visible
}

.hermes .tp-arr-imgholder {
   width: 180px;
   position: absolute;
   left: 0px;
   top: 0px;
   height: 110px;
   transform: translatex(-180px);
   -webkit-transform: translatex(-180px);
   transition: all 0.3s;
   transition-delay: 0.3s
}

.hermes.tp-rightarrow .tp-arr-imgholder {
   transform: translatex(180px);
   -webkit-transform: translatex(180px)
}

.hermes.tparrows:hover .tp-arr-imgholder {
   transform: translatex(0px);
   -webkit-transform: translatex(0px)
}

.hermes .tp-arr-titleholder {
   top: 110px;
   width: 180px;
   text-align: left;
   display: block;
   padding: 0px 10px;
   line-height: 30px;
   background: #000;
   background: rgba(0, 0, 0, 0.75);
   color: rgb(255, 255, 255);
   font-weight: 600;
   position: absolute;
   font-size: 12px;
   white-space: nowrap;
   letter-spacing: 1px;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
   -webkit-transform: rotatex(-90deg);
   transform: rotatex(-90deg);
   -webkit-transform-origin: 50% 0;
   transform-origin: 50% 0;
   box-sizing: border-box
}

.hermes.tparrows:hover .tp-arr-titleholder {
   -webkit-transition-delay: 0.6s;
   transition-delay: 0.6s;
   -webkit-transform: rotatex(0deg);
   transform: rotatex(0deg)
}

#rev_slider_10_1_forcefullwidth .fullwidthbanner-container {
   overflow: hidden !important;
}


/*index 3*/

#rev_slider_11_1 .uranus.tparrows {
   width: 50px;
   height: 50px;
   background: rgba(255, 255, 255, 0)
}

#rev_slider_11_1 .uranus.tparrows:before {
   width: 50px;
   height: 50px;
   line-height: 50px;
   font-size: 40px;
   transition: all 0.3s;
   -webkit-transition: all 0.3s
}

#rev_slider_11_1 .uranus.tparrows:hover:before {
   opacity: 0.75
}


/*index 5*/

.hermes.tparrows {
   cursor: pointer;
   background: rgba(255, 210, 0, 1);
   width: 30px;
   height: 110px;
   position: absolute;
   display: block;
   z-index: 100
}

.hermes.tparrows:before {
   font-family: "revicons";
   font-size: 15px;
   color: rgb(255, 255, 255);
   display: block;
   line-height: 110px;
   text-align: center;
   transform: translatex(0px);
   -webkit-transform: translatex(0px);
   transition: all 0.3s;
   -webkit-transition: all 0.3s
}

.hermes.tparrows.tp-leftarrow:before {
   content: "\e824"
}

.hermes.tparrows.tp-rightarrow:before {
   content: "\e825"
}

.hermes.tparrows.tp-leftarrow:hover:before {
   transform: translatex(-20px);
   -webkit-transform: translatex(-20px);
   opacity: 0
}

.hermes.tparrows.tp-rightarrow:hover:before {
   transform: translatex(20px);
   -webkit-transform: translatex(20px);
   opacity: 0
}

.hermes .tp-arr-allwrapper {
   overflow: hidden;
   position: absolute;
   width: 180px;
   height: 140px;
   top: 0px;
   left: 0px;
   visibility: hidden;
   -webkit-transition: -webkit-transform 0.3s 0.3s;
   transition: transform 0.3s 0.3s;
   -webkit-perspective: 1000px;
   perspective: 1000px
}

.hermes.tp-rightarrow .tp-arr-allwrapper {
   right: 0px;
   left: auto
}

.hermes.tparrows:hover .tp-arr-allwrapper {
   visibility: visible
}

.hermes .tp-arr-imgholder {
   width: 180px;
   position: absolute;
   left: 0px;
   top: 0px;
   height: 110px;
   transform: translatex(-180px);
   -webkit-transform: translatex(-180px);
   transition: all 0.3s;
   transition-delay: 0.3s
}

.hermes.tp-rightarrow .tp-arr-imgholder {
   transform: translatex(180px);
   -webkit-transform: translatex(180px)
}

.hermes.tparrows:hover .tp-arr-imgholder {
   transform: translatex(0px);
   -webkit-transform: translatex(0px)
}

.hermes .tp-arr-titleholder {
   top: 110px;
   width: 180px;
   text-align: left;
   display: block;
   padding: 0px 10px;
   line-height: 30px;
   background: #000;
   background: rgba(255, 210, 0, 1);
   color: rgb(255, 255, 255);
   font-weight: 600;
   position: absolute;
   font-size: 12px;
   white-space: nowrap;
   letter-spacing: 1px;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
   -webkit-transform: rotatex(-90deg);
   transform: rotatex(-90deg);
   -webkit-transform-origin: 50% 0;
   transform-origin: 50% 0;
   box-sizing: border-box
}

.hermes.tparrows:hover .tp-arr-titleholder {
   -webkit-transition-delay: 0.6s;
   transition-delay: 0.6s;
   -webkit-transform: rotatex(0deg);
   transform: rotatex(0deg)
}


/*--------------------------------------------------------------------
	    	inner-intro
---------------------------------------------------------------------*/

.inner-intro {
   height: 280px;
   display: block;
   position: relative;
}

.inner-intro .container {
   display: table;
   height: 100%;
   position: relative;
}

.inner-intro span {
   text-transform: capitalize;
}

.intro-title {
   display: table-cell;
   vertical-align: middle;
   padding-bottom: 0px;
}

.intro-title > div {
   padding: 0;
   width: 100%;
   text-align: center;
}

.intro-title .section-title {
   margin-bottom: 10px;
}

.intro-title .section-title .title {
   font-size: 44px;
   font-weight: 600;
   line-height: 46px;
}

ul.page-breadcrumb li span {
   color: #ffd200;
   font-size: 14px;
   text-transform: capitalize;
}

ul.page-breadcrumb {
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0;
}

ul.page-breadcrumb li {
   color: #fff;
   display: inline-block;
   list-style: none;
   padding-left: 0;
}

ul.page-breadcrumb li i {
   font-size: 14px;
   padding: 0 7px;
}

ul.page-breadcrumb li a {
   color: #fff;
   font-size: 14px;
   text-transform: capitalize;
}

ul.page-breadcrumb li a:hover {
   color: #ffd200;
}


/*---------------------------------------------------------------------
  Footer
---------------------------------------------------------------------*/

.footer {
   /*background: url(./../../../images/pattern/pattern2.jpg) no-repeat 0 0;*/
   color: #c5c5c5;
}

.footer .title {
   position: relative;
   color: #fff;
   margin-bottom: 40px;
}


/*footer-flickr */

ul.footer-instagram-images li {
   display: inline-block;
}

.social-feed li {
   float: left;
   height: 70px;
   list-style: outside none none;
   margin-bottom: 5px;
   margin-right: 5px;
   width: 70px;
}

.social-feed li img {
   width: 70px;
   height: 70px;
}

.social-feed {
   display: inline-block;
}

.footer-social h5 {
   margin-bottom: 20px;
}

.footer-social ul li {
   display: inline-block;
}

.footer-social ul li a {
   display: block;
   background: transparent;
   border: none;
   color: #999999;
   width: 35px;
   height: 35px;
   text-align: center;
   line-height: 35px;
}

.footer-social ul li a:hover {
   border: 1px solid #ffd200;
   color: #ffd200;
}

.footer-address li {
   line-height: 28px;
   padding: 0;
   margin-top: 0;
   margin-bottom: 10px;
   display: block;
}

.footer-address li i {
   float: left;
   color: #ffd200;
   padding-right: 20px;
   font-size: 16px;
   line-height: 30px;
   width: 30px;
}

.footer-address li span {
   display: table;
   color: #c5c5c5;
   font-size: 14px;
   vertical-align: top;
}


/*news-letter*/

.footer .news-letter {
   margin-top: 20px;
}

.footer .input-group-btn button {
   background-color: #ffd200;
   border-color: #ffd200;
   border-radius: 0px;
   color: #353535;
   padding: 11px 14px;
}

.footer .input-group-btn button:hover {
   background-color: #ffd200;
   border-color: #ffd200;
   border-radius: 0px;
   color: #000;
}

.footer .input-group.divcenter .form-control::-moz-placeholder {
   color: #c5c5c5;
   font-size: 13px;
}

.footer .input-group.divcenter.input-group .form-control {
   padding-left: 15px;
   padding-top: 8px;
   border-radius: 0;
   color: #ffffff;
   border: 1px solid rgba(255, 255, 255, 0.3);
   background: none;
   height: 44px;
   box-shadow: none;
}

.footer .input-group.divcenter.input-group .form-control:focus {
   border-color: #ffd200;
}

.footer .footer-box {
   background: rgba(39, 39, 39, 0.2);
   padding: 30px;
   clear: both;
   margin-bottom: 80px;
}

.footer .footer-box .box-content {
   display: table-cell;
   vertical-align: top;
}

.footer .footer-box .box-link {
   display: table-cell;
   padding-left: 20px;
   vertical-align: middle;
}

.footer .footer-box .box-link a {
   display: block;
   padding: 6px 16px;
   width: 120px;
   background: #db2d2e;
   border-color: #db2d2e;
   color: #ffffff;
}

.footer .footer-box .box-link a:hover {
   background: #ffffff;
   border-color: #ffffff;
   color: #db2d2e;
}

.footer .copyright {
   background: rgba(39, 39, 39, 0.2);
   padding: 30px 0 20px;
}

.footer-widget {
   padding: 30px 0;
   background: rgba(0, 0, 0, 0.3);
}

.footer-widget p {
   color: #c5c5c5;
   margin-bottom: 0;
   margin-top: 5px;
}

.footer-widget ul li {
   display: inline-block;
   margin: 0;
}

.footer-widget ul li a {
   display: block;
   color: #c5c5c5;
   padding-left: 5px;
   font-size: 14px;
}

.footer-widget ul li a:hover {
   color: #ffd200;
}

.footer-link ul li {
   display: block;
   line-height: 30px;
}

.footer-link ul li a {
   color: #c5c5c5;
   font-size: 14px;
}

.footer-link ul li a:hover {
   color: #ffd200;
}


/* Extra Footer */

.footer-top .f-menu li {
   padding-left: 8px;
   padding-right: 8px;
}

.footer-top .f-menu li a {
   color: #353535;
   font-size: 15px;
}

.footer-top .f-menu li a:hover {
   color: #ffffff;
}

.footer .recent-post .media-body a {
   display: block;
}

.footer .recent-post .media-body span .fa {
   color: #ffd200;
   margin-right: 5px;
}

.social-icons.social-white li a {
   margin-bottom: 0;
   background: #ffffff;
   border: none;
}

.footer .top-info.fill .address-block .title {
   color: #353535;
}

.footer .top-info.clean.mt {
   margin-top: 60px;
}

.footer .top-info.clean.mtb {
   margin-bottom: 60px;
}

.footer .top-info.clean .address-block:first-child {
   margin-left: 0;
}

.footer .footer-usefull .list-2 {
   width: 50%;
   float: left;
}

.footer .footer-usefull .list-3 {
   width: 33.3333%;
   float: left;
}

.footer .footer-usefull ul li a {
   color: #c5c5c5;
}

.footer .footer-usefull ul li a:hover {
   color: #ffd200;
}

.footer .top-info.top-hlaf {
   position: relative;
   top: -60px;
   margin-top: -100px;
}


/*--------------------------------------------------------------------
  Sercive Style
---------------------------------------------------------------------*/

.our-sercive1 {
   position: relative;
   z-index: 0;
   overflow: hidden;
}

.our-sercive1:before,
.our-sercive1:after {
   content: "";
   position: absolute;
   z-index: -1;
}

.our-sercive1:before {
   background: url() no-repeat 0 0;
   background-size: cover;
   left: -70px;
   top: 130px;
   width: 350px;
   height: 236px;
}

.our-sercive1:after {
   background: url() no-repeat 0 0;
   background-size: cover;
   right: -60px;
   top: 50px;
   width: 280px;
   height: 164px;
}


/*--------------------------------------------------------------------
  Contact us
---------------------------------------------------------------------*/

.map {
   height: 100%;
}

.map iframe {
   height: 100%;
}


/* Light Form */

.light-form .form-group .form-control {
   background: #ffffff;
}

.light-form .form-group label {
   color: #656565;
}


/* Address */

.address-block {
   position: relative;
   padding-left: 80px;
   margin-bottom: 25px;
}

.address-block .glyph-icon {
   border: 2px solid #ffd200;
   width: 60px;
   height: 60px;
   text-align: center;
   position: absolute;
   left: 0;
   top: 0;
   display: inline-block;
   line-height: 60px;
   color: #ffd200;
}

.address-block.fill .glyph-icon {
   background: #ffd200;
   color: #323232;
}

.address-block.rounded .glyph-icon {
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}

.address-block .title {
   font-size: 20px;
   line-height: 20px;
   margin-bottom: 10px;
}

.address-block span {
   display: block;
}

.address-block a {
   display: block;
}


/* Dark BG Address */

.top-info.half {
   bottom: -40px;
   margin-bottom: -30px;
}

.top-info.fill {
   position: relative;
   z-index: 9;
   background: #ffd200;
   padding: 40px 20px;
   -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
   -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.top-info .address-block {
   width: 23%;
   float: left;
   margin-bottom: 0;
   padding-left: 75px;
   margin-left: 2%;
}

.top-info.fill .address-block .glyph-icon {
   border-color: #353535;
   color: #353535;
}

.top-info.fill .address-block span,
.top-info.fill .address-block a {
   color: #353535;
   font-size: 13px;
}


/*--------------------------------------------------------------------
  Section Slider Arrow & Dots
---------------------------------------------------------------------*/

.owl-carousel.dots-rb .owl-dots {
   width: auto;
   bottom: 10px;
   right: 10px;
}


/*--------------------------------------------------------------------
  About Me Pages
---------------------------------------------------------------------*/

.section-about-me ul.list li {
   margin: 0;
}


/*==================================================================================*/


/* service sidebar */


/*==================================================================================*/

.service .service-block h4 {
   position: relative;
   padding-bottom: 10px;
}

.service .service-block h4:before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 50px;
   height: 2px;
   background: #ffd200;
}

.service .sidebar ul {
   padding-left: 0px;
}

.service .sidebar ul li {
   display: block;
   list-style: none;
   padding-left: 0px;
}

.service .sidebar ul li a {
   display: block;
   padding: 12px 25px;
   color: #656565;
   border: 1px solid #e6e6e6;
   border-left: 3px solid rgba(0, 0, 0, 0.1);
   background: #fcfcf9;
   text-transform: capitalize;
}

.service .sidebar ul li a:hover,
.service .sidebar ul li a.active {
   color: #ffd200;
   border-left-color: #ffd200;
}


/*--------------------------------------------------------------------
  Blog Pages
---------------------------------------------------------------------*/

.post-article .post {
   margin-bottom: 50px;
}

.post:last-child hr {
   display: none;
}

hr {
   border-style: dashed;
   border-color: #d5d5d5;
   margin: 50px 0;
}


/*-------------------------*/


/* Blog - SideBar */


/*-------------------------*/

.post-sidebar {
   height: 100%;
}

.sidebar-widget {
   margin-bottom: 40px;
}

.sidebar-widget:last-child {
   margin-bottom: 0;
}

.sidebar-widget .widget-title {
   position: relative;
   padding-bottom: 10px;
   margin-bottom: 20px;
}

.sidebar-widget .widget-title:before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 40px;
   height: 2px;
   background: #ffd200;
}


/*-------------------------*/


/* SideBar - UL LI */


/*-------------------------*/

.sidebar-widget .widget-ul li {
   margin: 10px 0;
   overflow: hidden;
}

.sidebar-widget .widget-ul li a {
   color: #757575;
   display: block;
}

.sidebar-widget .widget-ul li a:hover {
   color: #ffd200;
}


/*-------------------------*/


/* SideBar - Search */


/*-------------------------*/

.sidebar-widget .widget-search {
   position: relative;
}

.sidebar-widget .widget-search input {
   padding-right: 40px;
   color: #353535;
   height: 50px;
   border: 2px solid #f2f2f2;
   background: #ffffff;
   box-shadow: none;
   border-radius: 0;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
}

.sidebar-widget .widget-search input:focus {
   background: #ffffff;
}

.sidebar-widget .widget-search i {
   position: absolute;
   right: 0px;
   padding: 16px 12px;
   font-size: 18px;
   color: #ffd200;
   cursor: pointer;
}

.sidebar-widget .widget-search input:focus {
   border-color: #ffd200;
}


/*-------------------------*/


/* SideBar - Posts */


/*-------------------------*/

.sidebar-widget .recent-post {
   margin-top: 20px;
}

.sidebar-widget .recent-post .media-body > a {
   display: block;
   color: #353535;
   font-size: 15px;
   font-weight: 600;
}

.sidebar-widget .recent-post .media-body > a:hover {
   color: #ffd200;
}

.sidebar-widget .recent-post .media-body span {
   color: #999;
}

.sidebar-widget .recent-post .media-body span .fa {
   color: #ffd200;
   margin-right: 5px;
}


/*-------------------------*/


/* SideBar - Tags */


/*-------------------------*/

.sidebar-widget .tags li {
   padding-left: 2px;
   padding-right: 2px;
   margin: 3px 0;
}

.sidebar-widget .tags li a {
   background: #ffd200;
   color: #353535;
   padding: 4px 8px;
   border: 1px solid transparent;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
}

.sidebar-widget .tags li a:hover {
   border-color: #ffd200;
   background: none;
}


/*-------------------------*/


/* SideBar - Archives */


/*-------------------------*/

.sidebar-widget .widget-ul li .number {
   background: #ffd200;
   color: #353535;
   width: 50px;
   padding: 0;
   text-align: center;
}

.archives-widget .widget-ul li a {
   position: relative;
   z-index: 0;
}

.archives-widget .widget-ul li a span {
   background: #fff;
   padding-right: 8px;
}

.archives-widget .widget-ul li a:before {
   content: "";
   width: 300px;
   height: 1px;
   border-top: 1px dashed #cccccc;
   position: absolute;
   left: 0;
   top: 16px;
   z-index: -1;
}


/*-------------------------*/


/* Blog - Masonry */


/*-------------------------*/

.masonry-block {
   padding: 0 10px;
}

.isotope.columns-2 .grid-item {
   width: 50%;
   padding: 10px;
}

.isotope.columns-3 .grid-item {
   width: 33.3333%;
   padding: 10px;
}

.isotope.columns-4 .grid-item {
   width: 25%;
   padding: 10px;
}

@media screen and (max-width:1024px) {
   .isotope.columns-3 .grid-item,
   .isotope.columns-4 .grid-item {
      width: 50%;
   }
}

@media screen and (max-width:599px) {
   .isotope.columns-2 .grid-item,
   .isotope.columns-3 .grid-item,
   .isotope.columns-4 .grid-item {
      width: 100%;
   }
}


@media screen and(min-width:599px) {
     .screens-section{
        /*background: red;*/
   }
}







/*--------------------------------------------------------------------
  Blog - Single Page
---------------------------------------------------------------------*/

.social-share-box .title {
   display: inline-block;
   margin: 0 !important;
   margin-top: 10px !important;
}

.comments-1 {
   background: #ffd200;
   padding: 20px;
   color: #ffffff;
   line-height: 22px;
}

.comments-1 .comments-photo {
   padding-right: 20px;
}

.comments-1 .comments-photo img {
   border: 4px solid #ffffff;
}

.comments-1 .comments-info .title {
   margin-top: 0;
   margin-bottom: 5px;
   color: #ffffff;
}


/* Comments Box */

.comment-box {
   margin-top: 35px;
}

.comment-box .section-title {
   margin-bottom: 0;
}

.comment-box .section-title .title {
   padding-bottom: 5px;
}

.comment-box .section-title label {
   color: #ffd200;
   font-weight: 500;
}

.comment-list li {
   margin-top: 25px;
   margin-bottom: 0;
   vertical-align: top;
   padding: 0;
}

.comment-list .comments-media {
   padding: 15px;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
   border-radius: 3px;
}

.comment-list ul {
   padding-left: 60px;
}

.comment-list .comments-photo {
   padding-right: 20px;
}

.comment-list .comments-photo img {
   border-bottom: 5px solid #ffd200;
}

.comment-list .comments-info {
   position: relative;
}

.comment-list .comments-info .title {
   margin: 0;
   line-height: 22px;
}

.comment-list .comment-metadata {
   line-height: 22px;
   margin-top: 7px;
   margin-bottom: 10px;
}

.comment-list .comment-metadata a {
   color: #aaaaaa;
}

.comment-list .comment-metadata .fa {
   padding-right: 7px;
   color: #ffd200;
}

.comment-list .reply {
   position: absolute;
   right: 0;
   top: 0;
   font-weight: 500;
   line-height: 22px;
   margin: 0;
   padding: 2px 16px;
   font-size: 11px;
}

.comment-list .reply .fa {
   font-size: 12px;
}

.comment-list .comments-info p {
   line-height: 24px;
   color: #858585;
   margin-top: 5px;
   margin-bottom: 0;
}

.comment-respond {
   margin-top: 50px;
}


/*--------------------------------------------------------------------
  Portfolio Page
--------------------------------------------------------------------*/

.popup-gallery.columns-3 .project-info {
   width: 33.3333%;
   float: left;
}

.popup-gallery.columns-4 .project-info {
   width: 25%;
   float: left;
}

.popup-gallery.columns-3 .project-info:before,
.popup-gallery.columns-4 .project-info:before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 7px solid #ffffff;
   z-index: 8;
}

.portfolio-page .project-info {
   margin: 0;
   padding: 7px;
}

.portfolio-page .no-gutter {
   margin: 0 -7px;
}

@media screen and (max-width:1024px) {
   .popup-gallery.columns-3 .project-info,
   .popup-gallery.columns-4 .project-info {
      width: 33.3333%;
   }
}

@media screen and (max-width:992px) {
   .popup-gallery.columns-3 .project-info,
   .popup-gallery.columns-4 .project-info {
      width: 50%;
   }
}

@media screen and (max-width:599px) {
   .popup-gallery.columns-3 .project-info,
   .popup-gallery.columns-4 .project-info {
      width: 100%;
   }
}


/*--------------------------------------------------------------------
  Portfolio Details Page
--------------------------------------------------------------------*/

.pro-details-section .feature-box.small .title {
   font-size: 20px;
   margin-bottom: 8px;
}

.about.pro-deta .about-details {
   background: #f8f8f8;
   padding: 10px;
   text-align: center;
}

.about.pro-deta .about-details .title {
   margin: 0;
   padding: 0;
}

.about.pro-deta .about-details .about-des,
.about.pro-deta .about-details p {
   margin: 0;
   padding: 0;
   margin-bottom: 5px;
}


/*---------------------------
  Pagination
----------------------------*/

.pagination-nav {
   margin-top: 30px;
}

.pagination > li {
   list-style-type: none;
   float: left;
   display: block;
}

.pagination > li > a,
.pagination > li > span {
   padding: 13px 20px;
   border-width: 2px;
   border-color: #cccccc;
   color: #757575;
   margin: 0;
   border-radius: 0;
}

.pagination > li.previous > a,
.pagination > li.next > a {
   border-radius: 0;
}

.pagination > li.active > a:hover,
.pagination > li.active > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
   background: #ffd200;
   color: #353535;
   border-color: #ffd200;
}


/*--------------------------------------------------------------------
  FAQs Page
--------------------------------------------------------------------*/

.faq-page .tab .tab-content .title {
   font-size: 18px;
   color: #353535;
}


/*--------------------------------------------------------------------
  Terms and Conditions
--------------------------------------------------------------------*/

.terms-and-conditions .title {
   margin-bottom: 10px;
}

.terms-and-conditions p {
   margin-bottom: 25px;
}

.terms-and-conditions ul.list {
   margin-bottom: 20px;
   display: block;
}

.terms-and-conditions ul.list li i {
   padding-right: 12px;
   font-size: 15px;
}


/*--------------------------------------------------------------------
  Privacy Policy
--------------------------------------------------------------------*/

.privacy-policy .title {
   margin-bottom: 10px;
}

.privacy-policy p {
   margin-bottom: 25px;
}

.privacy-policy ul.list {
   margin-bottom: 20px;
   display: block;
}

.privacy-policy ul.list li i {
   padding-right: 12px;
   font-size: 15px;
}


/*--------------------------------------------------------------------
  404 Error & Coming Soon
--------------------------------------------------------------------*/

.error-404,
.coming-soon {
   background-position: center 80%;
   background-repeat: no-repeat;
   position: relative;
   padding-top: 60px;
   padding-bottom: 60px;
}

.error-404.bg-overlay-white-90:before,
.coming-soon.bg-overlay-white-90:before {
   background: rgba(255, 255, 255, 0.92);
}

.countdown {
   margin-top: 40px;
   width: 70%;
   display: inline-block;
}

.countdown > li {
   width: 25%;
   float: left;
   color: #353535;
}

.countdown > li span {
   font-size: 64px;
   font-weight: 700;
   line-height: 60px;
}

.countdown > li p {
   font-size: 18px;
   line-height: 18px;
}

.notify-form {
   display: inline-block;
   margin-top: 15px;
}

.notify-form .form-control {
   width: 300px;
   height: 53px;
   float: left;
   color: #333;
   font-weight: 600;
   font-size: 15px;
   border: 2px solid #333;
   background: none;
   border-radius: 0;
   text-shadow: none;
   box-shadow: none;
}

.notify-form .button {
   margin: 0;
   float: left;
   margin-left: 10px;
}

.notify-form .form-control::-webkit-input-placeholder {
   color: #353535;
}

.notify-form .form-control::-moz-placeholder {
   color: #353535;
}

.notify-form .form-control:-ms-input-placeholder {
   color: #353535;
}

.notify-form .form-control:-moz-placeholder {
   color: #353535;
}


/*--------------------------------------------------------------------
 Back to Top
--------------------------------------------------------------------*/

#back-to-top .top {
   z-index: 999;
   position: fixed;
   margin: 0px;
   color: #ffd200;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
   position: fixed;
   bottom: 115px;
   right: 25px;
   z-index: 999;
   font-size: 14px;
   background: none;
   border: 2px solid #ffd200;
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 34px;
}

#back-to-top .top:hover {
   height: 50px;
}


/*==================================================================================*/


/* Responsive CSS */


/*==================================================================================*/

@media screen and (max-width:1200px) {
   .history-sec .pall-80 {
      padding: 50px !important;
   }
   #header.dark-fancy .topbar {
      padding: 10px 0 40px;
   }
   #header.dark-fancy .menu {
      top: 70px;
   }
   .popup-gallery.columns-4 .overlay-content h3,
   .overlay-content h3 a {
      font-size: 16px;
   }
   .popup-gallery.columns-4 .project-info .button.small {
      padding: 10px 8px;
   }
}

@media screen and (max-width:992px) {
   .row-eq-height {
      display: block;
   }
   .section-title p {
      padding: 0 50px;
   }
   .inner-intro {
      height: 250px;
   }
   .intro-title .section-title {
      margin-bottom: 0;
   }
   .intro-title .section-title .title {
      font-size: 34px;
   }
   .page-section-ptb100 {
      padding: 50px 0 0 0;
   }
   .service .service-block {
      margin-top: 40px;
   }
   .service .service-block img {
      margin-top: 30px;
   }
   /*-------------------------------------------------
 Header
--------------------------------------------------*/
   #header.defualt {
      position: relative;
      background: #323232;
   }
   #header .topbar {
      display: none;
   }
   .mega-menu {
      min-height: 80px;
   }
   .mega-menu .menu-logo {
      padding: 4px 0;
   }
   .mega-menu .menu-links > li {
      border-bottom-color: rgba(255, 255, 255, 0.25);
      padding: 0;
   }
   .mega-menu .menu-links > li > a {
      line-height: 30px;
      color: #ffffff !important;
      padding: 10px 20px;
   }
   .mega-menu .menu-links > li:last-child {
      border-bottom: none;
   }
   .mega-menu .menu-links > li.active > a {
      color: #ffd200 !important;
   }
   /* Defualt Header */
   .mega-menu .row > [class*='col-']:before,
   .mega-menu .row > [class*='col-']:after {
      content: "";
      display: table;
      clear: both;
   }
   .mega-menu .menu-links {
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
   }
   /* Fancy Header */
   #header.fancy .menu {
      position: relative;
      top: 0px;
   }
   #header.fancy .menu .container {
      width: 100%;
   }
   #header.fancy .mega-menu > section.menu-list-items {
      padding: 0 20px;
      padding-right: 10px;
   }
   #header.fancy + .rev-slider .slider-text {
      top: 100px;
      transform: translateY(0%);
   }
   #header.fancy .row > [class*='col-'] {
      padding-left: 0px;
      padding-right: 0px;
   }
   /* Dark-Fancy Header */
   #header.dark-fancy .menu {
      position: relative;
      top: 0px;
   }
   #header.dark-fancy .menu .container {
      width: 100%;
   }
   #header.dark-fancy .mega-menu > section.menu-list-items {
      padding: 0 20px;
      padding-right: 10px;
   }
   #header.dark-fancy .mega-menu .menu-links > li > a {
      line-height: 30px;
   }
   #header.dark-fancy .row > [class*='col-'] {
      padding-left: 0px;
      padding-right: 0px;
   }
   /*-------------------------------------------------
 Home Page
--------------------------------------------------*/
   .our-sercive1::before {
      height: 166px;
      top: 40px;
      width: 250px;
   }
   .our-sercive1::after {
      height: 124px;
      right: -40px;
      top: 20px;
      width: 210px;
   }
   /*-------------------------------------------------
footer
--------------------------------------------------*/
   .top-info .address-block {
      margin-top: 20px;
      width: 48%;
   }
   .top-info .address-block:nth-child(-n+2) {
      margin-top: 0;
   }
   /*-------------------------------------------------
Blog Page
--------------------------------------------------*/
   .comments-1 {
      width: 100%;
   }
   .comment-list ul {
      padding-left: 20px;
   }
   /*-------------------------------------------------
Contact Page
--------------------------------------------------*/
   form .half-group {
      margin-right: 0;
      width: 100%;
   }
   .form-2 form .half-group {
      float: left;
      margin-left: 2%;
      width: 48%;
   }
   /*-------------------------------------------------
Comming soon Page
--------------------------------------------------*/
   .countdown {
      width: 90%;
   }
   .popup-gallery.columns-4 .overlay-content h3,
   .overlay-content h3 a {
      font-size: 20px;
   }
   .popup-gallery.columns-4 .project-info .button.small {
      padding: 10px 25px;
   }
}

@media screen and (max-width:767px) {
   .section-title p {
      padding: 0;
   }
   .inner-intro {
      height: 200px;
   }
   .intro-title {
      padding-bottom: 0;
   }
   .intro-title .section-title .title {
      font-size: 26px;
      line-height: 30px;
   }
   /*-------------------------------------------------
 Header
--------------------------------------------------*/
   .mega-menu {
      min-height: 70px;
   }
   .mega-menu .menu-logo img {
      height: 30px;
   }
   /*-------------------------------------------------
 Our Services
--------------------------------------------------*/
   .our-sercive1::before,
   .our-sercive1::after {
      content: normal;
   }
   /*-------------------------------------------------
 Timeline
--------------------------------------------------*/
   .history-sec .pall-80 {
      padding: 30px !important;
   }
   /*-------------------------------------------------
footer
--------------------------------------------------*/
   .top-info .address-block {
      margin-top: 20px;
      width: 100%;
   }
   .top-info .address-block:nth-child(-n+2) {
      margin-top: 20px;
   }
   .top-info .address-block:nth-child(-n+1) {
      margin-top: 0;
   }
   .footer {
      background-size: cover;
   }
   .footer .top-info.top-hlaf {
      margin-top: -40px;
      top: -40px;
   }
   .footer-usefull {
      display: inline-block;
      width: 100%;
   }
   .footer-widget p {
      text-align: center;
   }
   .footer-widget ul {
      text-align: center;
   }
   .social-icons {
      display: inline-block;
   }
   .footer-widget {
      padding: 15px 0;
      margin-top: 10px !important;
   }
   /*-------------------------------------------------
About  Page
--------------------------------------------------*/
   .about-details {
      margin-bottom: 20px;
   }
   /*-------------------------------------------------
Contact  Page
--------------------------------------------------*/
   .form-2 form .half-group {
      float: none;
      width: 100%;
      margin-left: 0;
   }
   form.input3-col .half-group {
      width: 100%;
   }
   .top-info.half {
      bottom: 0;
      margin-bottom: 30px;
   }
   /*-------------------------------------------------
Service Page
--------------------------------------------------*/
   .services-block {
      padding: 40px 0;
   }
   /*-------------------------------------------------
All Counter
--------------------------------------------------*/
   .counter-section {
      padding: 35px 0 !important;
   }
   .counter-section .counter-block > div {
      margin-bottom: 10px !important;
   }
   .counter-section .counter-block > div:nth-last-of-type(-n+2) {
      margin-bottom: 0 !important;
   }
   .row > [class*="col-"]:nth-last-of-type(-n+2) .counter.left_pos {
      margin-bottom: 0 !important;
   }
   /*-------------------------------------------------
Owl-dots
--------------------------------------------------*/
   .owl-carousel .owl-dots {
      position: relative;
      bottom: 0;
   }
   /*-------------------------------------------------
Comming soon Page
--------------------------------------------------*/
   .countdown > li span {
      font-size: 44px;
      line-height: 50px;
   }
}

@media screen and (max-width:479px) {
   h2.title2 {
      font-size: 24px;
      line-height: 30px;
   }
   /*-------------------------------------------------
Footer
--------------------------------------------------*/
   .footer .footer-usefull .list-3 {
      float: none;
      width: 100%;
   }
   .notify-form .form-control {
      width: 100%;
   }
   .notify-form .button {
      margin-left: 0;
      margin-top: 8px;
   }
   /*-------------------------------------------------
All Counter
--------------------------------------------------*/
   .counter-section {
      padding-top: 20px;
      padding-bottom: 25px;
   }
   .counter-section .counter {
      margin: 10px 0 !important;
   }
   .counter-section .counter-block > div {
      margin-bottom: 0 !important;
   }
   /*-------------------------------------------------
Single-Blog Page
--------------------------------------------------*/
   .blog-post .post .post-image + .post-date,
   .single-blog .post .post-image + .post-date {
      margin-top: -93px;
   }
   .blog-post .post .post-details,
   .single-blog .post .post-details {
      padding-left: 0;
   }
   .comment-list .reply {
      position: relative;
   }
   /*-------------------------------------------------
Comming soon Page
--------------------------------------------------*/
   .coming-soon .title {
      font-size: 30px;
      line-height: 40px;
   }
   .countdown > li span {
      font-size: 30px;
      line-height: 40px;
   }
   .countdown > li p {
      font-size: 16px;
   }
   /*-------------------------------------------------
Action-box Page
--------------------------------------------------*/
   .action-box.action-icon i {
      line-height: 40px;
      top: 0;
   }
   .action-box.action-icon i::before {
      font-size: 40px;
   }
   .action-box.action-icon .left {
      padding-left: 60px;
   }
   .action-box.action-icon .left h5 {
      font-size: 14px;
   }
}


/*==================================================================================*/


/* Animation Keay */


/*==================================================================================*/

.bg-effect:before {
   -webkit-animation-name: fadebounce;
   -moz-animation-name: fadebounce;
   -ms-animation-name: fadebounce;
   -o-animation-name: fadebounce;
   animation-name: fadebounce;
   -webkit-animation-duration: 3s;
   -moz-animation-duration: 3s;
   -ms-animation-duration: 3s;
   -o-animation-duration: 3s;
   animation-duration: 3s;
   -webkit-animation-iteration-count: infinite;
   -moz-animation-iteration-count: infinite;
   -ms-animation-iteration-count: infinite;
   -o-animation-iteration-count: infinite;
   animation-iteration-count: infinite
}

v@-moz-keyframes fadebounce {
    0% {
       -moz-transform: translateY(0);
       transform: translateY(0);
       opacity: 1
    }
    50% {
       -moz-transform: translateY(25px);
       transform: translateY(25px);
       opacity: 1
    }
    100% {
       -moz-transform: translateY(0);
       transform: translateY(0);
       opacity: 1
    }
 }

@-webkit-keyframes fadebounce {
   0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
   }
   50% {
      -webkit-transform: translateY(25px);
      transform: translateY(25px);
      opacity: 1
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
   }
}

@-o-keyframes fadebounce {
   0% {
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
   }
   50% {
      -o-transform: translateY(25px);
      transform: translateY(25px);
      opacity: 1
   }
   100% {
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
   }
}

@-ms-keyframes fadebounce {
   0% {
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
   }
   50% {
      -ms-transform: translateY(25px);
      transform: translateY(25px);
      opacity: 1
   }
   100% {
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
   }
}

@keyframes fadebounce {
   0% {
      transform: translateY(0);
      opacity: 1
   }
   50% {
      transform: translateY(25px);
      opacity: 1
   }
   100% {
      transform: translateY(0);
      opacity: 1
   }
}




/*--------------screens------------------------*/
.screens-section{
   background: #f7f9fa;
   padding: 40px;
}
/*--------------end---------------*/


/* Pulse Effect */

@-webkit-keyframes pulse {
   0% {
      -webkit-transform: scale(1);
   }
   25% {
      -webkit-transform: scale(1.2);
   }
   50% {
      -webkit-transform: scale(1);
   }
   100% {
      -webkit-transform: scale(1);
   }
}

@-moz-keyframes pulse {
   0% {
      -moz-transform: scale(1);
   }
   25% {
      -moz-transform: scale(1.2);
   }
   50% {
      -moz-transform: scale(1);
   }
   100% {
      -moz-transform: scale(1);
   }
}

@-ms-keyframes pulse {
   0% {
      -ms-transform: scale(1);
   }
   25% {
      -ms-transform: scale(1.2);
   }
   50% {
      -ms-transform: scale(1);
   }
   100% {
      -ms-transform: scale(1);
   }
}

@-o-keyframes pulse {
   0% {
      -o-transform: scale(1);
   }
   25% {
      -o-transform: scale(1.2);
   }
   50% {
      -o-transform: scale(1);
   }
   100% {
      -o-transform: scale(1);
   }
}

@keyframes pulse {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.2);
   }
   100% {
      transform: scale(1);
   }
}

.login-nav{
   padding: 5px 3px 5px 3px;
   border: 1px solid silver;
   position: relative;
   color: #FFFFFF;
}

.row-company{
   margin: 0;
}


.login-nav:hover{
   background: #FFFFFF;
   color: #000000;
}

.slider_subtitle{
   font-size: 25px;
}


#pricing{
   text-align: center;
}

.pricing-section{
   padding: 60px 0 60px 0;
   text-align: center;
   background: #f7f9fa;
}


.price-row{
   margin-right: 170px;
   margin-left: 170px;
   box-shadow: 0 5px 38px rgba(0,0,0,0.11), 0 9px 12px rgba(0,0,0,0.22);
}


@media screen and (max-width: 1000px){
   .price-row{
      margin-right: 30px;
      margin-left: 30px;
   }

   .pbox1, .pbox2, .pbox3{
      border-bottom: 10px solid #ecf0f1;
   }
}

.pricebox{
   padding-top: 100px;
   height: 400px;
   text-align: center;
   background: #ffffff;
}

.pbox2, .pbox3, .pbox4{
   border-left: 1px solid silver;
}

.price-package-name{
   font-size: 13pt;
   margin-bottom: 25px;
   color: #1970b9;
}

.dollar-sign{
   position: relative;
   font-size: 20pt;
   font-weight: 200;
   top: -20px;
}

.price-figure{
   font-size: 45pt;
   font-weight: bolder;
}

.cent{
   font-size: 12pt;
   font-weight: 300;
}

.package-details{
   margin-top: 60px;
   font-size: 12pt;
   font-weight: 300;
}

.description{
   font-weight: 900;
   margin-bottom: 4px;
}

.our-packages{
   font-size: 20pt;
}

.row-package{
   margin: 0;
}

.package{
   font-size: 15pt;
   font-weight: bold;
}

.price{
   color: yellow;
   font-size: 20pt;
   font-weight: bold;
}

.usd{
   color: red;
   font-weight: bold;
}



.heading-pricing-table{
   font-size: 15pt;
}

.gold{
   color: gold;
}

.silver{
   color: silver;
}

.bronze{
   color: brown;
}

/*======Modals=========*/
#loginModal{
   margin-top: 100pt;
}

#signUpModal{
   margin-top: 100pt;
}


.modal-body {
   text-align: center;
}

#slider5{
   opacity: 0.9;
}

#mixer{
   width: 140px;
   height: 200px;
}